$azul: 	#263c82;
$verde: #52b74a;
$azulclaro: #32d3de;
$cinza: #f2f2f2;

/*Topo Auxiliar*/
.pw-header{
	.container{
		.row{
			height: 70px;
			border: 1px solid;
			padding-top: 10px;
			background: red;
			color:red;
			.topo-auxiliar{
				font-size: 18px;
			}
		}
	}
}
